/* id는 #으로, class는 .으로! */
/* id는 한번만, class는 여러번 사용 가능 */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

hr{
    background-color: #8497B0;
}
p{
    margin: 0;
    padding: 0;
}
html, body{
    font-family: 'EliceDigitalBaeum_Bold';
    margin: 0;
    padding: 0;
}

input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}
/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
} */

.category{
    background-color: #E5EBF4;
    padding: 0% 3%;
    margin: 0;
    width: 10%;
    height: 100%;
    text-align: center;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    /* float: left; */
    position: fixed;
}
.category p{
    margin-top: 50%;
}
.category button:not(#siteName){
    width: 100%;
    margin-top: 10px;
    padding: 7% 5%;
    background-color: #8497B0;
    /* background-color: #89BDE4; */
    border: 0;
    color: white;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.category button:not(#siteName):hover{
    color: white;
    background-color: #F4B183;
    /* background-color: #8497B0; */
    cursor:pointer;
}

#siteName{
    margin-top: 15%;
    border: 0;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #E5EBF4;
    font-family: 'EliceDigitalBaeum_Bold';
}
#siteName:hover{
    cursor:pointer;
}

#detail{
    text-align: center;
}

#date{
    font-size: 2em;
    text-align: center;
    /* margin-top: 2em; */
}
#date button{
    background-color: rgba(0,0,0,0);
    border: 0;
    outline: 0;
    font-size: 1em;
    font-family: inherit;
}
#inputDate{
    width: 3%;
}

.main{
    text-align: center;
}
.grid{
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.grid.temp{
    background-color: #E5EBF4;
    width: 90%;
    height: 500px;
    padding: 2%;
    border-radius: 50px;
    font-size: 0;
}
.result{
    font-size: 20px !important;
    border: 2px solid #8497B0;
    border-radius: 50px;;
}

.wrapper{
    display: inline-block;
    /* background-color: green; */
    margin-top: 5%;
    padding: 0;
    border: 0;
    width: 15%;
    height: 100%;
    /* vertical-align: bottom; */
}
.stair{
    display: inline-block;
    background-color: #F4B183;
    margin-top: 5%;
    padding: 0;
    border: 0;
    width: 100%;
}
.stair.first{
    height: 60%;
}
.stair.second{
    height: 50%;
}
.stair.third{
    height: 40%;
}
.stair.forth{
    height: 30%;
}
.stair.fifth{
    height: 20%;
}
.medal{
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}

/* .grid.result1{
    background-color: #E5EBF4;
    width: 90%;
    margin-left: 10%;
    margin-top: 5%;
    padding: 2%;
    border-radius: 50px;
} */

.grid.result2{
    background-color: #E5EBF4;
    width: 90%;
    /* margin-left: 1%; */
    margin-top: 5%;
    padding: 2%;
    border-radius: 50px;
}

.grid.result3{
    background-color: #E5EBF4;
    width: 90%;
    /* margin-left: 20%; */
    margin-top: 2%;
    padding: 2%;
    border-radius: 50px;
}