/* id는 #으로, class는 .으로! */
/* id는 한번만, class는 여러번 사용 가능 */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

hr{
    background-color: #8497B0;
}
p{
    margin: 0;
    padding: 0;
}
html, body{
    font-family: 'EliceDigitalBaeum_Bold';
    margin: 0;
    padding: 0;
}

button.ui-datepicker-trigger img{
    width: 20px;
    height: 20px;
}

#datePicker{
    display: none;
}

.category{
    background-color: #E5EBF4;
    padding: 0% 3%;
    margin: 0;
    width: 10%;
    height: 100%;
    text-align: center;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    /* float: left; */
    position: fixed;
}
.category p{
    margin-top: 50%;
}
.category button:not(#siteName){
    width: 100%;
    margin-top: 10px;
    padding: 7% 5%;
    background-color: #8497B0;
    /* background-color: #89BDE4; */
    border: 0;
    color: white;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.category button:not(#siteName):hover{
    color: white;
    background-color: #F4B183;
    /* background-color: #8497B0; */
    cursor:pointer;
}

#siteName{
    display: inline-block;
    margin-top: 20%;
    border: 0;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #E5EBF4;
    font-family: 'EliceDigitalBaeum_Bold';
}
#siteName:hover{
    cursor:pointer;
}

#detail{
    text-align: center;
}

#date{
    font-size: 2em;
    text-align: center;
    /* margin-top: 2em; */
}
#date button{
    background-color: rgba(0,0,0,0);
    border: 0;
    outline: 0;
    font-size: 1em;
    font-family: inherit;
}
#inputDate{
    width: 3%;
}

.main{
    text-align: center;
}

#newsKeywordTop5{
    font-size: 40px !important;
    margin: 0;
}

.grid{
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.grid.result1{
    background-color: #E5EBF4;
    width: 90%;
    height: 500px;
    padding: 2%;
    border-radius: 50px;
    font-size: 0;
}
.result{
    font-size: 20px !important;
}

.wrapper{
    display: inline-block;
    /* background-color: green; */
    padding: 0;
    border: 0;
    width: 15%;
    height: 60%;
    /* vertical-align: bottom; */
}
.wrapper.first{
    height: 80%;
}
.wrapper.second{
    height: 65%;
}
.wrapper.third{
    height: 50%;
}
.wrapper.forth{
    height: 35%;
}
.wrapper.fifth{
    height: 20%;
}

.stair{
    display: inline-block;
    background-color: #F4B183;
    margin-top: 5%;
    padding: 0;
    border: 0;
    width: 100%;
    height: 80%;
}

.medal{
    float: left;
    margin-top: 30px;
}

.grid.result2{
    background-color: #E5EBF4;
    width: 42%;
    padding: 2%;
    margin: 3% 0%;
    border-radius: 50px;
}

.grid.result3{
    background-color: #E5EBF4;
    width: 42%;
    margin: 3% 0% 3% 2%;
    padding: 2%;
    border-radius: 50px;
}